.book {
  background-color: #fff;
  width: 100%;
  max-width: 1000px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #e8e8e8;

  ul {
    list-style: none;

    li {
      border-right: 2px solid var(--secondary-color);
      padding: 0 10px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border-right: none;
      }

      button {
        font-size: 16px;
        background: none;
        border: none;
        color: var(--cool-blue);
        cursor: pointer;
        font-weight: lighter;
        font-family: 'Roboto Slab', serif;
      }

      .save-btn {
        color: rgb(232, 162, 10);
        font-weight: bold;
      }
    }
  }

  input,
  select {
    max-width: 100%;
  }

  .mobile-controls {
    display: none;
  }

  .desktop-controls {
    display: flex;
  }
}

.category {
  color: var(--dark-color);
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;

  .category-select {
    padding: 5px;
    border: 1px solid #dadada;
    outline: none;
  }
}

.book-title {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
}

.title-input {
  display: block;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  padding: 10px;
  border: 1px solid #dadada;
  outline: none;
}

.author {
  font-size: 15px;
  font-weight: lighter;
  font-family: 'Roboto Slab', serif;
  color: var(--cool-blue);
}

.author-input {
  display: block;
  font-size: 15px;
  font-weight: lighter;
  font-family: 'Roboto Slab', serif;
  color: var(--cool-blue);
  padding: 10px;
  border: 1px solid #dadada;
  outline: none;
}

.book-description {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.chapter-edit {
  display: block;
  font-size: 15px;
  font-weight: lighter;
  font-family: 'Roboto Slab', serif;
  color: var(--cool-blue);
  padding: 10px;
  border: 1px solid #dadada;
  outline: none;
}

.reading-progress {
  display: flex;
  align-items: center;

  .percent-complete {
    display: flex;
    gap: 15px;
    align-items: center;
    border-right: 3px solid var(--secondary-color);
    padding: 0 30px;

    .progress-display {
      width: 76px;
      height: 76px;
      background: var(--secondary-color);
      border-radius: 50%;
      position: relative;

      &::before {
        content: "";
        display: block;
        width: 66px;
        height: 66px;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    p {
      font-size: 14px;
      color: var(--dark-color);
    }

    .percent-value {
      font-size: 30px;
      font-weight: 600;
      color: #000;
    }
  }

  .progress-update {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;

    h3 {
      font-size: 13px;
      font-weight: 300;
      color: var(--dark-color);
      margin-bottom: 5px;
    }

    p {
      font-size: 15px;
      font-weight: 300;
      margin-bottom: 20px;
    }

    button {
      background-color: var(--primary-color);
      font-weight: lighter;
      font-family: 'Roboto Slab', serif;
      letter-spacing: 1px;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      cursor: pointer;
      transition: 0.4s all;

      &:hover {
        color: var(--primary-color);
        background-color: #e2e2e2;
      }
    }
  }
}

@media (max-width: 900px) {
  .book {
    flex-direction: column;
    gap: 40px;
    width: max-content;

    .desktop-controls {
      display: none !important;
    }

    .mobile-controls {
      display: flex;
    }
  }
}

@media (max-width: 650px) {
  .book {
    width: 100%;
  }

  .reading-progress {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    .percent-complete,
    .progress-update {
      border: none;
      padding: 0;
    }
  }
}
