header {
  padding: 30px 50px;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #e8e8e8;

  h1 {
    color: var(--primary-color);
  }

  div {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    display: flex;
  }

  div > div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  div > button {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    background: none;
    cursor: pointer;
    transition: 0.4s all;

    &:hover {
      background: var(--secondary-color);
    }
  }
}

nav {
  ul {
    display: flex;
    list-style: none;
    gap: 10px;
  }
}

@media (max-width: 650px) {
  header {
    padding: 30px 5%;

    div > div:nth-child(1) {
      flex-direction: column;
      gap: 10px;
    }
  }
}

